# Project exclude paths
/dongyimai-cart-interface/target/
/dongyimai-cart-service/target/
/dongyimai-cart-web/target/
/dongyimai-common/target/
/dongyimai-content-interface/target/
/dongyimai-content-service/target/
/dongyimai-dao/target/
/dongyimai-mail-service/target/
/dongyimai-manager-web/target/
/dongyimai-order-interface/target/
/dongyimai-order-service/target/
/dongyimai-page-interface/target/
/dongyimai-page-service/target/
/dongyimai-page-web/target/
/dongyimai-pay-interface/target/
/dongyimai-pay-service/target/
/dongyimai-pojo/target/
/dongyimai-portal-web/target/
/dongyimai-search-interface/target/
/dongyimai-search-service/target/
/dongyimai-search-web/target/
/dongyimai-seckill-interface/target/
/dongyimai-seckill-service/target/
/dongyimai-seckill-web/target/
/dongyimai-sellergoods-interface/target/
/dongyimai-sellergoods-service/target/
/dongyimai-shop-web/target/
/dongyimai-sms-service/target/
/dongyimai-solr-util/target/
/dongyimai-user-interface/target/
/dongyimai-user-service/target/
/dongyimai-user-web/target/